@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/hotel.jpg" class="rounded img-fluid">
    <h1 class="display-4">Book your room today!</h1>
@if(User.Identity.IsAuthenticated) {
    <form method="post">
        <div class="left">
            <label for="Checkin"><h2>Check-In Date:</h2></label>
            <div class='input-group date' id='checkin'>
                     <input type='text' class="form-control" name="Checkin" />
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
            </div>
        </div>
        <div class="right">
            <label for="Checkout"><h2>Check-Out Date:</h2></label>
            <div class='input-group date' id='checkout'>
                     <input type='text' class="form-control" name="Checkout"/>
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
            </div>
        </div>
        <div class="clear"></div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
} else {
    <h2><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a> to book a room!</h2>
}   
</div>

